@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

body, html{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
}


.hero-ban{
	background-color: #007FFF;
 	height: 100vh;
 	box-sizing: border-box;
 	position: relative;
 	overflow: hidden;
 	
}

.textwrapper{
	position: absolute;
	width: 560px;
	height: 482px;
	top: 50%;
	margin-top: -241px;
	margin-left: 15%;
	/*could also be:
	left:50%;
	margin-left:-280px;
	*/
	}

/* I centered vertically usign the code on this page https://css-tricks.com/centering-css-complete-guide/ you also explained it */

.wrapper{
	width: 960px;
	margin: 0 auto;
}

h1{
	font-size: 50px;
	font-weight: 900;
}


h2{
	font-size: 40px;
	font-weight: 900;
}


h3{
	font-size: 30px;
	font-weight: 400;
}

h4{
	font-size: 20px;
	font-weight: 400;
}

p{
	font-size: 28px;
	font-weight: 400;
}

.hero-ban h1{
	color: white;
	margin: 10px 0 0 0;
}


.hero-ban h3{
	color: white;
	margin: 20 0 40px 0;
}


.hero-ban h4, .hero-ban a{
	color: white;
	margin: 10px 0 0 0;
}

.hero-ban h4 a:hover{
	color: #FFD400;
}


a.cta,
button.cta{
	background-color: #007FFF;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 30px;
	display: inline-block;
	padding: 20px 30px;
	cursor: pointer;
	box-shadow: 0 0 0 10px rgba(0,127,255,.15);
	border-radius: 10px;
}

a.cta:hover,
button.cta:hover{
		background-color: #47A1FC;
}

	/*border-radius: 10px;
	border: 10px solid rgba(0,0,0,.15);
	cta with square corners BUT border with rounded corners (outside)
	*/

	/* 
	outline: 10px solid rgba(0,0,0,.15);
	border-radius: 10px;
	cta with rounded corners BUT border with square corners (inside rounded outside square)
	*/

a.alt,
button.alt{
	background-color: #FFD400;
	color: black;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
	}

a.alt:hover{
	background-color: #FFE460;
}

.character1{
	position: absolute; top: 10%; right: 10%;
	width: 362px;
	height: 344px;
	background: url(img/character1.png) no-repeat 0 0;
	background-size: 100%;
	transform: rotate(15deg);
}

.character2{
	position: absolute; top: 210px; right: 280px;
	width: 309px;
	height: 371px;
	background: url(img/character2.png) no-repeat 0 0;
	background-size: 100%;
}

.character3{
	position: absolute; bottom: 80px; right: 110px;
	width: 297px;
	height: 286px;
	background: url(img/character3.png) no-repeat 0 0;
	background-size: 100%;
}

nav{
	background-color: white;
	width: 100%;
	height: 100px;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	z-index: 1;
	top: 0;
}

nav .logo{
	display: block;
	position: absolute;
	top: 50%;
	background: url(img/logo.png) no-repeat 0 0;
	background-size: 100%;
	width: 300px;
	height: 40px;
	margin: -20px 0 0 30px;
	overflow: hidden;
	text-indent: -999px;
}

nav ul{
padding: 0;
margin: 0 20px 0 0;
}

nav ul li {
	float: right;
	display: block; /* remove the dot before? */
}

nav ul li a{
	display: block; /*show the items inside the nav bar?*/
	height: 100%; /*why?*/
	box-sizing: border-box; /*to fix the size*/
	font-size: 30px;
	text-decoration: none;
	color: black;
	line-height: 30px;
	padding: 35px 20px;
}

nav ul li a:hover{
	color:#007FFF;
}

nav ul li a:active{
	color:#007FFF;
}

.more-info{
	width: 960px;
	margin: 80px auto;
	text-align: center;
}

.more-info h2{
	margin: 20px 0 0 0;
}

.more-info h3{
	margin: 30px 0 50px 0;
	line-height: 40px;
}

.highlight{
	display: inline;
	background-color: #EDEDED;
	color: #FA8072;
	padding: 1px 10px 5px;
	font-weight: 700;
	line-height: 40px;
}

.divider{
	margin: 80px auto;
	width: 500px;
	height: 10px;
	background-color: black;
}

.story {

}

.item-wholelist{
	width: 450px;
	background-color: #EDEDED;
	padding:20px 20px 0px 20px;
	margin: 0 30px 10px 0;
	box-sizing: border-box;
	float: left;
	position: relative;
	
}

.item-wholelist li{
	height: 70px;
	display: block;
	border-radius: 10px;
	font-size: 30px;
	line-height: 30px;
	padding: 20px 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	color: white;
}


.item-wholelist li.blue{
	background-color: #007FFF;
}

.item-wholelist li.grey{
	background-color: #DDDDDD;
}

.item-wholelist li.drag-yellow{
	color: black;
	background-color: #FFD400;
	position: absolute;
	top: 90px;
    left: 50px;
    right: -20px;
	transform: rotate(10deg);
	box-shadow: 0 3px 7px rgba(0,0,0,.3)
}

.item-wholelist li.drag-yellow:after{
	content: '';
	position: absolute;
	background: url(img/hand.png) no-repeat 0 0;
	background-size: 100%;
	height: 60px;
	width: 54px;
	bottom: -20px;
	left: 60%;
	/* in the original code there is display: block; but I dont know why*/
}

.item-wholelist li.red{
	background-color: #FF3300;
}

.item-wholelist li.rose{
	background-color: #FFADF9;
}

.item-wholelist li.salmon{
	background-color: #FA8072;
}

.item-wholelist li.yellow{
	background-color: #FFD400;
	color: black;
}

.gang-guys{
	margin: 0 auto;
	text-align: center;
}

footer{
	color: rgba(0,0,0,.5);
	margin: 50px auto;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: rgba(0,0,0,.5);
}

footer a:hover{
	text-decoration: underline;
	color: #007FFF;
}

/*

<div class="story" id="story">

		<ul class="item-list">
			<li class="blue">Rock 'n Roll</li>
			<li class="grey">&nbsp;</li>
			<li class="draggyellow">Laughter</li>
			<li class="red">Square Offs</li>
			<li class="rose">Circuitous Routes</li>
			<li class="salmon">Trigonometry</li>
			<li class="blue">Rad Hats</li>
			<li class="yellow">Being Silly</li>
		</ul>

		<h2>Left: Things We Find Important Below: Our Story</h2>
		<P>Once upon a time there was a group of shapes. They were mostly black and rectangular. They were mean and very serious. <p>And so they kicked the 3 shapes that didn’t conform out of their gang, which was called the Right Angled Gang.</p>
		<p> And so these 3 shapes were very sad, but found great joy and comfort being around each other. They soon started having a lot of fun, started rocking and rolling, started being silly, and became the most well-known shape gang in the universe.</p>
		<P> They even started making fun of squares and rectangles in what they like to call ‘Square Offs’!</P>

	</div>


*/

